[submodule "common/vimpack/CandyPaper.vim"]
	path = common/vimpack/CandyPaper.vim
	url = https://github.com/dfxyz/CandyPaper.vim
[submodule "common/vimpack/vim-easymotion"]
	path = common/vimpack/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "common/vimpack/nerdtree"]
	path = common/vimpack/nerdtree
	url = https://github.com/preservim/nerdtree.git
